<% 
# Create the varible title and assigning it the string 'Home'
provide(:title, 'Contact') 
%>


<<h1>Contact</h1>
<p>
	This is the conact page for the
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	sample application.
</p>