<!-- Checks to make sure there are error messages to even display<% if object.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-error">
            <!-- Makes the word plural if there is more than on error, use
                object since it can be @user or @micropsot
            The form contains <%= pluralize(object.errors.count, "error") %>.
        </div>
        <!-- Goes through each of the messages generated and displays them        <ul>
            <% object.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>-->

<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


